@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#activities-urlbar-icon, #activities-urlbar-icon > .button-box,
#activities-urlbar-icon:hover:active > .button-box {
  padding: 0px;
  margin: 0px;
  border: 0px; 
  background-color: transparent;
}

#activities-urlbar-icon > hbox > .button-menu-dropmarker,
#activities-urlbar-icon > hbox > .button-text {
  display: none;
}

#activities-urlbar-icon {
  -moz-binding: url("chrome://global/content/bindings/button.xml#menu");
  -moz-appearance: none; 
  min-width: 0px; 
  margin-right: 1px !important;
}

#activities-urlbar-icon[openService] {
  list-style-image: url("chrome://msft_activities/content/activities_small.png");
}
